<!DOCTYPE html>

<html ng-app="geektic" lang="fr">
<head>
<title>Geektic</title>
<h1 class="text-center">Geektic Gotta Catch 'Em All !</h1>

<!-- Intégration du CSS Bootstrap -->
<link href="/libs/Bootstrap/css/bootstrap.css" rel="stylesheet"
	media="screen">
</head>

<body ng-controller="MainCtrl">
	<!-- Conteneur principal
	
	<td data-title="'watchers_count'">{{geek.watchers_count}}</td>
	-->
	<div class="container">
	
	<!-- Barre de navigation -->
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">

				<input action="#" class="btn" type="submit" value="Home">
				<!-- Liste les repositories de l'utilisateur  http://docs.angularjs.org/api/ng/filter/filter-->
				Search Repo : <input id="input_repo" ng-model="searchText" placeholder="Search&hellip;"}>
			</div>
		</div>

		<form action="#register">
			<input class="btn" class="form-control" type="submit"
				value="Search">
		</form>
	</div>
	
	<!-- container  <td data-title="'avatar'"><img src={{geek.pathavatar}} alt="Avatar" border=3 height=50 width=50></img></td>-->
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="geek in geeks">
			<td data-title="'nom'">{{geek.pathavatar}}</td>
			<td data-title="'nom'">{{geek.nom}}</td>
			<td data-title="'prenom'">{{geek.prenom}}</td>
			<td data-title="'age'">{{geek.age}}</td>
		</tr>
	</table>

	<h1 ng-repeat='geek in geeks'>{{ geek }}</h1>

	<script src="/libs/AngularJS/angular.min.js"></script>
	<script src="/libs/AngularJS/angular.js"></script>
	<script src="/libs/AngularJS/angular-route.js"></script>
	<script src="/js/app.js"></script>

	<!-- Intégration de la libraire jQuery -->
	<script src="/libs/Bootstrap/js/jquery-2.1.1.min.js"></script>
	<!-- Intégration de la libraire de composants du Bootstrap -->
	<script src="/libs/Bootstrap/js/bootstrap.min.js"></script>
</body>

</html>